<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Max</title>
    <link rel="stylesheet" href="home.css">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
</head>

<body>
    <section id="bodyHome">
        {{> navbar}}
        <section>
            <section id="box1">
                <img src="../img/background.jpg" alt="">
            </section>
            <section id="box2">
                <section id="card">
                    <img src="../img/max.png">
                    <h4>About Max</h4>
                    <p>Max is your best friend and a modern assitant who do a lot of things to stay you comfortable</p>
                    <a href="/about">Read more</a>
                </section>
                <section id="card">
                    <img src="../img/support.png">
                    <h4>Custom support</h4>
                    <p>If you have some question or a problem, no dubt and speak with our custom support</p>
                    <a href="/support">Read more</a>
                </section>
                <section id="card">
                    <img src="../img/download.png">
                    <h4>Download App</h4>
                    <p>If you have don't have the new big world assistant, go to download now, ¡you will needed!</p>
                    <a href="/download">Read more</a>
                </section>
            </section>
            <section id="box3">
                <section id="box3-1">
                    <h3>Why Max?</h3>
                    <p>Max is Max Company cloud-based voice service available on Max Company devices and third party
                        devices with built-in Max. With Max, you can create natural voice experiences to give customers
                        a more intuitive way to interact with the technology they use every day. Thanks to our suite of
                        tools, APIs, reference solutions and documentation, anyone can easily create Skills with Max.
                    </p>
                    <p>Start creating voice experiences now, adding new features to Max, connecting it to other devices
                        or integrating it directly into your products.</p>
                </section>
                <section id="box3-2">
                    <section id="box">
                        <img src="../img/img1.png" alt="">
                        <h5>Reach more consumers and offer them an experience that they will love even more</h5>
                        <p>Reach your customers wherever they are through Max devices and third-party devices with
                            built-in Max. And give them voice experiences that they love and that they return to
                            regularly.</p>
                    </section>
                    <section id="box">
                        <img src="../img/img2.png" alt="">
                        <h5>Lean on our expertise in voice design</h5>
                        <p>You bring your great idea and we take care of automatic speech recognition and natural
                            language understanding. Lean on our voice design expertise to get started quickly.</p>
                    </section>
                    <section id="box">
                        <img src="../img/img3.png" alt="">
                        <h5>Create the user experience of the future</h5>
                        <p>Use our toolkits to reinvent your customer interactions thanks to Max. Join us in pushing the
                            limits of what's possible when it comes to voice and advanced conversational artificial
                            intelligence.</p>
                    </section>
                </section>
            </section>
        </section>
        {{> footer}}
    </section>
</body>

</html>