<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
  <section id="bodySignin">
    <div class="login-container">
      <div class="login-info-container">
        <h1 class="title">Sign In with</h1>
        <div class="social-login">
          <div class="social-login-element">
            <img src="../img/google.svg" alt="google-image" />
            <span>Google</span>
          </div>
          <div class="social-login-element">
            <img src="../img/facebook.svg" alt="facebook-image" />
            <span>Facebook</span>
          </div>
        </div>
        <p>or</p>
        <form class="inputs-container">
          <input class="input user" type="email" placeholder="User" required/>
          <input class="input password" type="password" placeholder="Password" required/>
          <span><input type="checkbox" required> I'm not a robot</span>
          <button class="cssbuttons-io-button" v-on:click="click()"> Sign In
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
            </div>
          </button>
          <span class="span">Don't have an account? <a href="/sign-up" id="#link">Sign Up</a></span>
        </form>
      </div>
      <img class="image-container" src="../img/login.svg" alt="" />
    </div>
  </section>
  <script src="/javascripts/sign-in.js"></script>
  <link rel="stylesheet" href="stylesheets/sign-in.css">
</html>